.transaksi-table-container {
    padding: 20px;
  }
  
  .transaksi-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .transaksi-table th,
  .transaksi-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
  }
  
  .transaksi-table th {
    background-color: #f4f4f4;
  }
  
  .transaksi-table td button {
    margin: 5px;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .transaksi-table td button:hover {
    background-color: #f0f0f0;
  }
  